<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<header th:insert="blocks/header :: header"></header>
<body class="text-left">
<div class="container mt-5 mb-5">
    <p class="float left" align="left"> <br>
        <a href="/adminroom">Назад</a><br>
    </p>
</div>
<div class="container mt-5 mb-5">
    <p class="float left" align="left"> <br>
    <form action="/addtest" method="post"> <br>
    <input type="text" name="theme" placeholder="Выберите тему теста" class="form-control"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" name="title" placeholder="Введите заголовок" class="form-control"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="text" name="num" placeholder="Выберите количество вариантов ответа" class="form-control"><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <textarea type="text" name="fulltext" placeholder="Введите текст вопроса" class="form-control"></textarea><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit" class="btn btn-success">Добавить статью</button>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</form>
    </p>

</div>
</body>
</html>