<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<header th:insert="blocks/header :: header"></header>
<body class="text-left">
<div class="container mt-1 mb-1" align="center">
    <a href="/addtest">Добавить тест с вариантами ответа</a><br>
    <a href="/addquest">Добавить тест с вопросом и письменным ответом </a><br>

</div>
<footer class = "test-muted">
</footer>
</div>
</form>
</body>
</html>
