<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<header th:insert="blocks/header :: header"></header>
<body class="text-left">
<div class="container mt-5 mb-5">
    <p class="float left" align="left"> <br>
        <a href="adminroom">Назад</a><br>
    </p>
</div>
<div class="container mt-5 mb-5">
    <p class="float left" align="left"> <br>
    <form action="/addvideo" method="post"> <br>
    <input type="text" name="name" placeholder="Введите тему видео" class="form-control"><br>
    <input type="text" name="title" placeholder="Введите название видео" class="form-control"><br>
    <textarea type="text" name="URL" placeholder="Введите ссылку на видео (необюходимо скопировать с ютуба)" class="form-control"></textarea><br>
    <button type="submit" class="btn btn-success">Добавить статью</button>
        </form>
    </p>

</div>
</body>
</html>