<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<header th:insert="blocks/header :: header"></header>
<body class="text-left">
<div class="container mt-1 mb-1" align="center">
        <a href="/addtest">Добавить тесты</a><br>
        <a href="/edittest">Редактировать тесты</a><br>
        <a href="/addvideo">Добавить видео</a><br>
        <a href="/editvideo">Редактировать видео</a><br>
        <a href="/addlesson">Добавить статьи</a><br>
        <a href="/editlesson">Редактировать статьи</a><br>
        <a href="/addthemes">Добавить статьи</a><br>
        <a href="/editthemes">Редактировать статьи</a><br>
</div>
<footer class = "test-muted">
</footer>
</div>
</form>
</body>
</html>
