<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NolBol Training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body class="text-center">
<footer class = "test-muted">
    <div class="container">
        <p class="float right">
            <a href="#">На главную страницу</a>
            <a href="#">На страницу тестирования</a>
            <a href="#">На страницу просмотра видео</a>
            <a href="#">На страницу просмотра статей</a>
        </p>
    </div>
</footer>

</div>

</form>
</body>
</html>