<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<header th:insert="blocks/header :: header"></header>
<body class="text-center">


    <div th:each="el : ${posts}" class = "alert alert-info mt-2">
        <h3 th:text="$el.title"></h3>
        <a th:href ="'/cabinet/' + ${el.id}">Детальнее</a>
    </div>

</form>
</body>
<footer>  <p class="mt-5 mb-3 text-muted">Система Тестирования</p> </footer>
</html>