<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body class="text-center">
<br><br>

<div th:if="${param.error}">
    Неверные логин или пароль!
</div>
<div th:if="${param.logout}">
    Удачного дня!!
</div>
<div>
<form th:action="@{/login}" method="post">
    <br><br>
    <h1 class="h3 mb-3 font-weight-normal">Пожалуйста войдите или зарегистрируйтесь</h1><br>
    <input type="text" name="username" class="form-control" placeholder="Логин" required="" autofocus="" size="40"><br>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required="" size="40"><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Войти</button><br>
    <a class="nav-link" href="/registration">или Зарегистрируйтесь</a>
</form>
</div>
</body>
<footer><br> <p class="mt-5 mb-3 text-muted" align="center">Система Тестирования, v 0.46</p> </footer>
</html>
