<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<body class="text-center">
<br><br>

<div th:if="${message}">
    Такой пользователь уже существует!
</div>
<div>
<form th:action="@{/registration}" method="post">
    <br><br>
    <h1 class="h3 mb-3 font-weight-normal">Введите данные для регистрации</h1><br>
    <input type="text" name="username" class="form-control" placeholder="Логин" required="" autofocus="" size="40"><br>
    <input type="password" name="password" class="form-control" placeholder="Пароль" required="" size="40"><br>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Зарегистрироваться</button><br>
</form>
</div>
</body>
</html>
