<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

<header th:insert="blocks/header :: header"></header>

<br>
<br>
<br>
<input type="text" th:value="${el.name}" name="name" placeholder="Выберите тему видео" class="form-control"><br>
    <div class= th:each="el : ${themes}">

        <h3 th:text="${el.name}"></h3>
    </div>
</div>

</body>
</html>

<!--Отредактировать позже, суда запихать вывод видео, тестов и вобще ресурсов по теме!>