
    <html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment = "header">
<head>
    <title>NolBol Training</title>
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" href="/cabinet">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/results">Мои результаты</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/th">Обучение</a>
        </li>

        <li class="nav-item">
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-success">Выход</button>
        </form>
        </li>
            </ul>
</head>
</div>