
    <html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment = "header">
<head>
    <title>NolBol Training</title>
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand">Перейти в раздел</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="testlist">Тестирование <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="videolist">Обучающие видео</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="lessonslist">Обучающие статьи</a>
                </li>
            </ul>

        </div>
    </nav>
</head>
</div>