
    <html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment = "header">
<head>
    <title>NolBol Training</title>
    <link   rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/testlist">Тестирование</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/videolist">Обучающие видео</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lessonslist">Обучающие статьи</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/lessonslist">Выбрать тему</a>
        </li>
            </ul>
</head>
</div>